@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400..700&display=swap');

@font-face {
    font-family: 'Gilroy Bold';
    src: url('./fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('./fonts/Gilroy-Regular.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    scroll-behavior: smooth;
    background: #fff;
}

img {
    display: block;
    max-width: 100%;
}

h1,
p,
a,
button {
    color: #000;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1174px;
    margin: 0 auto;
}

.header {
    padding-top: 40px;
    margin-bottom: 84px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    font-weight: 400;
    font-size: 14px;
}

.nav-menu {
    width: 577px;
    display: flex;
    justify-content: space-around;
}

.navbar a:hover {
    color: #f35822;
    font-weight: 600;
}

.main {
    margin-bottom: 70px;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

.description {
    max-width: 556px;
}

.description h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    margin-bottom: 20px;
}

.description p {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #888;
    margin-bottom: 32px;
    max-width: 485px;
}

.button-section {
    margin-top: 16px;
    margin-bottom: 31px;
    display: flex;
    gap: 48px;
}

.button-section button {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.start-bttn {
    border-radius: 56px;
    padding: 16px 31px;
    background: #f35822;
    color: #fff;
}

.watch-bttn {
    color: #aaa;
    background: #fff;
}

.logos {
    display: flex;
    justify-content: space-between;
    margin-top: 170px;
    margin-bottom: 140px;
}

.motivation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.motivation h3,
a {
    font-family: 'Gilroy Bold', sans-serif;
    font-weight: 400;
}

.motivation p {
    font-family: 'Gilroy Regular', sans-serif;
}

.motivation h3 {
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 17px;
}

.motivation p {
    font-size: 15px;
    line-height: 150%;
    color: #666;
    margin-bottom: 23px;
    max-width: 320px;
}

.motivation a {
    font-size: 11px;
    line-height: 150%;
    padding-bottom: 25px;
}

.motivation-card {
    padding: 40px 30px 25px 30px;
}

.motivation-card-forward {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.offers-bg {
    background-color: #fafafa;
}

.offers {
    padding-top: 102px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.offers h2,
h3,
button {
    font-family: 'Gilroy Bold', sans-serif;
    font-weight: 400;
}

.offers h2 {
    font-size: 45px;
}

.offers-card p {
    font-family: 'Gilroy Regular';
    font-size: 15px;
    line-height: 150%;
    color: #aaa;
    margin-top: 22px;
    margin-bottom: 39px;
}

.under-heading {
    margin-top: 19px;
    font-family: 'Gilroy Regular';
    font-size: 16px;
    line-height: 150%;
    color: #666;
    max-width: 682px;
}

.offers h3 {
    margin-top: 60px;
    font-size: 24px;
}

.offers-cards-section {
    margin-top: 55px;
    margin-bottom: 100px;
    display: flex;
    gap: 30px;
}

.offers-card {
    background: #fff;
    padding: 5px 30px 50px 30px;
}

.offers-card button {
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    line-height: 150%;
    border-radius: 50px;
    box-shadow: 4px 4px 8px 0 rgba(242, 88, 34, 0.2);
    background: #f25822;
    color: #fff;
    padding: 15px 41px;
}

.offers-card-forward {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.1);
}